/HW4/HW4.X/dist/
/HW4/HW4.X/build/
/NewFolder/HW5_UART.X/build/
/NewFolder/HW5_UART.X/dist/
/NewFolder/HW7.X/dist/
/NewFolder/HW7.X/build/
/NewFolder/HW8.X/build/
/NewFolder/HW8.X/dist/
/NewFolder/ugh.X/dist/
/NewFolder/ugh.X/build/
/HW9.X/build/
/HW9.X/dist/